@model Bookish.Web.Models.RegisterModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Register</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Bookish.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Bookish.Web.styles.css" asp-append-version="true"/>
    
    <script>
        function Validation() {
            
            
            var name = document.getElementById("tf1").value;
            var email = document.getElementById("tf2").value;
            var password = document.getElementById("tf3").value;
                        
            
            var regEmail=/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/g;
            var regName = /\d+$/g;
         
            if (name == "" || regName.test(name)) {
                window.alert("Please enter your name properly.");
                name.focus();
                return false;
            }
            
            if (email == "" || !regEmail.test(email)) {
                window.alert("Please enter a valid e-mail address.");
                email.focus();
                return false;
            }
            
            if (password == "") {
                alert("Please enter your password");
                password.focus();
                return false;
            }
             
            if(password.length < 6) {
                alert("Password should be atleast 6 character long");
                password.focus();
                return false;
            }
            
        }
    </script>
    
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Register</h5>
                    <form asp-action="Register" name="reg_form" onsubmit="return Validation()" method="post">


                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" placeholder="name@example.com" id="tf1" name = "Name" asp-for="Name"/>
                            <label asp-for="Name">Name</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" placeholder="name@example.com" id="tf2" name ="Email" asp-for="Email"/>
                            <label asp-for="Email">Email address</label>
                        </div>

                        <hr>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" placeholder="Password" id="tf3" name = "Password" asp-for="Password"/>
                            <label asp-for="Password" class="">Password</label>
                        </div>

                        <div class="d-grid mb-2">
                            <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Register</button>
                        </div>

                        <a class="d-block text-center mt-2 small" href="/Home/Login">Have an account? Sign In</a>

                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>